
*{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


body{
    text-align: center;
    background-image: url(https://htmlcolorcodes.com/assets/images/html-color-codes-color-tutorials-hero-00e10b1f.jpg);
   background-repeat: no-repeat;
   background-size: cover;
   height: 100vh;
}

#main{
    width: 760px;
    margin: auto;
}

.del{
    margin: 5px;
    padding: 7px;
    border-radius: 10px;
    float: right;
    background-color: rgb(27, 56, 83);
    color: rgb(39, 228, 149);
    font-weight: bold;
    border: 1.3px solid ;
}

.del:hover{
    background-color:  rgb(39, 228, 149);
    color: rgb(27, 56, 83);
    border: 1.3px solid ;
}

.del:active{
    background-color: rgb(27, 56, 83) ;
    color: yellow;
    border: 1.3px solid ;
    
}

.input{
    height: 25px;
    font-size: large;
    border: 1.4px solid black;
    border-radius: 5px;

}

.input:active{
    background-color: black;
    color: white;
}

.mainBtn{
    margin: 10px;
    padding: 5px;
    border-radius: 5px;
    border: 1.4px solid ;
    background-color: rgb(27, 56, 83);
    color: rgb(39, 228, 149);
    font-weight: bold;
    border: 1.3px solid ;
}

.mainBtn:hover{
    background-color:  rgb(39, 228, 149);
    color: rgb(27, 56, 83);
    border: 1.3px solid ;
}

.mainBtn:active{
    background-color: rgb(27, 56, 83) ;
    color: yellow;
    border: 1.3px solid ;
    
}

.list{
    list-style-type: decimal-leading-zero;
    text-align: left;
    font-weight: bold;
    font-size: large;
    line-height: 50px;
    color: white;
}

